extends ./../layout

block content
	-var carrinho = true;
	include ./../navbar.pug
	div.container#carrinho
		h2.titulo-pg Carrinho de compras
		div.alert.alert-danger.alert-dismissable#alert
			a(href="#", data-dismiss="alert", aria-label="close").close &times;	
			p
		div#msgCart.col-md-12
			h3
			a.btn.btn-default(href="/") Página Inicial
			a.btn.btn-default(href="/catalogo") Continuar Comprando
		table.table#tableCart
			thead
				tr
					th
					th Produto
					th Título
					th Valor Unitário
					th Valor Total
					th Quantidade
					th
			tbody
				-for(var i=0; i<dados.length; i++){
					-if(dados[i].carrinho == true){
						tr.isbn.rowTab(data-id=dados[i].isbn)
							td
								img(src="../images/livros/"+dados[i].capa+".jpg", height="100px").box-book
							td= dados[i].isbn
							td= dados[i].titulo
							td R$ #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
							td.valor(data-valor)
								h4 R$ #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
							td
								span.badge.badge-cart.minus
									i.fa.fa-minus
								input(value="1", readonly="readonly").quantidade
								span.badge.badge-cart.plus
									i.fa.fa-plus
							td 
								i.glyphicon.glyphicon-remove.cart.btn-table
					-}
				-}
				tr
					td(align="right", colspan="7") Total:
						h3.valorTotal 

		button#tableBtn.btn.btn-primary(data-toggle="modal", data-target="#modalConfirm") Comprar

		div#modalConfirm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			div.modal-dialog(role='document')
				div.modal-content
					div.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
						h4#myModalLabel.modal-title Dados da Compra
					div.modal-body
						table
							tbody
								tr
									td.col-md-6 Valor da compra: 
									td.col-md-6.valorTotal
								tr 
									td.col-md-6 Valor do frete:
									td.col-md-6 ----
								tr
									td.col-md-6 Valor Total:
									td.col-md-6.valorTotal
						hr
						h5 Entrega em até 7 dias úteis
					div.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
						button.btn.btn-primary#comprar Confirmar Compra
